@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

html {
  overflow-y: auto;
}

img,
audio,
video,
canvas {
  max-width: 100%;
}

html, body {
  height: 100%;
}

body {
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #303030;
}

#menu {
  background-color: #499bea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5vw;
  padding: 0.5vw;
  border-radius: 5px;
}

#menu * {
  width: 3em;
  height: 3em;
  background: white;
  border-radius: 50%;
}

#mainArea {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#tabla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#fila {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1.2em;
}

#Col1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: transparent;
  font-family: "Lucida Console", Monaco, monospace;
  color: white;
}

#Col2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1em;
}

#Coladd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.txtDescripcion {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: transparent;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1.2em;
}

.txtMonto {
  background-color: transparent;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
}

label {
  background-color: transparent;
  font-family: "Lucida Console", Monaco, monospace;
  color: white;
}

#guardar {
  background: #499bea;
  border-radius: 5px;
  border-style: groove;
  text-align: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

#statusBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #499bea;
}

#add {
  width: 2em;
  height: 2em;
}

.menuBoton {
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

input[type=checkbox] {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

@media all and (min-width: 500px) {
  #tabla {
    margin: 1.2vw;
    padding: 1.2vw;
  }
  #Col1 {
    font-size: 1.2em;
  }
  .txtDescripcion {
    font-size: 2em;
  }
  .txtMonto {
    font-size: 1.2em;
  }
  #statusBar {
    font-size: 1.2em;
  }
  #menu * {
    width: 3em;
    height: 3em;
  }
  #fila {
    margin: 0.25em;
    padding: 0.25em;
  }
  label {
    margin: 0.25em;
    padding: 0.25em;
  }
  #guardar {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    margin: 0.20em;
    padding: 0.20em;
  }
  #Coladd {
    margin-left: 1vh;
  }
  #linkHogar {
    margin-left: 1vh;
  }
  #linkWappcom {
    margin-right: 1vh;
  }
}
/*# sourceMappingURL=css_estudianteMantenimiento.css.map */