@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

html {
  overflow-y: auto;
}

body {
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #303030;
}

.menu_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  background-color: #499bea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5vw;
  padding: 0.5vw;
  border-radius: 5px;
}

.menu * {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: white;
}

.containerNombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.txtNombre {
  margin: 1vw 2vw;
  padding: 2vw;
  text-overflow: ellipsis;
  background-color: transparent;
  font-family: "Lucida Console", Monaco, monospace;
  color: white;
  font-size: 1em;
  border-radius: 10px;
}

.menu_export {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}

.menu_export * {
  width: 2em;
  height: 2em;
  margin: 1vw;
  padding: 1vw;
  border-radius: 50%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.contDate * {
  margin: 1vw;
  padding: 1vw;
}

#itemOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0.5vw;
  padding: 0.5vw;
  font-size: 1.2em;
  color: #FFFFFF;
}

#itemOption * {
  margin: 0.5vw;
  padding: 0.5vw;
}

input[type=radio] {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.itemDate {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.itemDate * {
  margin: 0.5vw;
  padding: 0.5vw;
}

.btnbuscar {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: white;
}

.ui-datepicker {
  padding: .1em .1em 0;
  display: none;
  background: #499bea;
}

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
  color: #FFFFFF;
  background: #499bea;
}

.ui-datepicker table {
  width: 100%;
  font-size: .8em;
  border-collapse: collapse;
  font-family: verdana;
  margin: 0 0 .4em;
  color: white;
  background: #303030;
}

/*This is date TD */
.ui-datepicker td {
  border: 0;
  padding: 1px;
}

.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .8em;
  text-align: right;
  text-decoration: underline;
  color: white;
}

.encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo * {
  width: 6em;
  height: 6em;
  margin: 1vw;
  padding: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5vw;
  padding: 0.5vw;
  text-decoration: none;
  border: 1px solid black;
  color: black;
  text-overflow: ellipsis;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1em;
  background-color: transparent;
}

.tabla_encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1em;
  background-color: white;
  border-radius: 5px;
  margin: 2px;
  text-overflow: ellipsis;
  font-family: "Lucida Console", Monaco, monospace;
}

.tabla_encabezado_item {
  color: black;
  text-align: center;
  margin: 1vw;
}

.tabla_encabezado_rango {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-overflow: ellipsis;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1em;
  background-color: white;
  border-radius: 5px;
}

.tabla_encabezado_rango_item {
  color: black;
  text-align: center;
  margin: 1vw;
}

.tabla_titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-overflow: ellipsis;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1em;
  background-color: white;
}

.tabla_titulo_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: black;
  text-align: center;
  margin: 1vw;
  border-style: groove;
  border-radius: 5px;
}

.tabla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-overflow: ellipsis;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1em;
  background-color: white;
}

.tabla_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: black;
  text-align: center;
}

.contendor_linea_firma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.linea_firma {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 3vw;
  color: black;
  text-align: center;
}

.contenedor_nombre_firma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-overflow: ellipsis;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1em;
  background-color: white;
}

.item_nombre_firma {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: black;
  text-align: center;
  margin: 0.5vw;
  border-style: none;
}
/*# sourceMappingURL=css_ReporteAlmuerzo.css.map */